
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Content/User/css/linearicons.css" rel="stylesheet" />
    <link href="~/Content/User/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/User/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/User/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/User/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/User/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/User/css/main.css" rel="stylesheet" />
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Content/User/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/User/js/easing.min.js"></script>
    <script src="~/Content/User/js/hoverIntent.js"></script>
    <script src="~/Content/User/js/superfish.min.js"></script>
    <script src="~/Content/User/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/User/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/User/js/jquery-ui.js"></script>
    <script src="~/Content/User/js/owl.carousel.min.js"></script>
    <script src="~/Content/User/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/User/js/mail-script.js"></script>
    <script src="~/Content/User/js/main.js"></script>
    <script>
        var scope;
        myapp = angular.module("myapp", []);
        myapp.controller('global', ['$scope', '$http', function ($scope, $http) {
            $scope.model = @Html.Raw(Json.Encode(Model.Data));

            //Phân trang
            $scope.arrayPage = [];
            for (var i = 1; i < 200; i++) {
                $scope.arrayPage.push(i);
            }
            $scope.curentPage = 1;

            $scope.loadData = function () {
                $scope.pageSize = 8;
                return loadData1($scope.model.JdauThuoc, $scope.pageSize);
            }
            function loadData1(listPaging, pageSize) {
                $scope.pageNumber = Math.ceil(listPaging.length / pageSize);

                if ($scope.pageNumber <= 10) {
                    $scope.startPage = 1;
                    $scope.endPage = $scope.pageNumber;
                }
                else {
                    if ($scope.curentPage <= 6) {
                        $scope.startPage = 1;
                        $scope.endPage = 10;
                    } else if ($scope.curentPage + 4 >= $scope.pageNumber) {
                        $scope.startPage = $scope.pageNumber - 9;
                        $scope.endPage = $scope.pageNumber;
                    } else {
                        $scope.startPage = $scope.curentPage - 5;
                        $scope.endPage = $scope.curentPage + 4;
                    }
                }

                $scope.listIndexPage = $scope.arrayPage.slice($scope.startPage-1, $scope.endPage);

                if ($scope.curentPage > $scope.pageNumber)
                    $scope.curentPage = 1;

                return listPaging.filter(function (x, i) {
                    var rt = false;
                    if ((i >= (pageSize * ($scope.curentPage - 1))) && (i < (pageSize * ($scope.curentPage - 1)) + pageSize))
                        rt = true;
                    return rt;
                });
            };

            //changePage
            $scope.changePage = function (pageno) {
                if (pageno < 1 || pageno > $scope.pageNumber) return;
                $scope.curentPage = pageno;
                $scope.$applyAsync();
            };

            //Gửi thông tin tư vấn
            $scope.tuvan = {};
            $scope.submitThongTin = function() {
                    var tuVan = JSON.stringify($scope.tuvan);
                    $.ajax({
                        type: "post",
                        url: "TuVan/SendInfo",
                        data: tuVan,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.success === "success") {
                                swal(data.msg, "", "success");
                                $scope.tuvan = {};
                                $scope.$applyAsync();
                            }
                            else {
                                swal(data.msg, "", "error");
                            }
                        }
                    });
                };

            scope = $scope;
        }]);
    </script>
}

<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Sản phẩm
                </h1>
                <!-- <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p> -->
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start service Area -->
<section class="service-area section-gap" style="border-bottom: 1px solid #d0cece;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text text-center">
                <h1 class="pb-10">Sản phẩm chúng tôi cung cấp</h1>
                <p>
                    Công ty dược phẩm chúng tôi luôn cung cấp cho khách hàng những sản phẩm tốt và phù hợp nhất.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6" ng-repeat="item in loadData()">
                <a href="/map/Chi-tiet-dau-thuoc/{{item.MaDT}}">
                    <div class="single-service">
                        <img class="img-fluid" style="width:225px; height: 225px;" ng-src="~/Content/Images/DauThuoc/{{item.Image}}" src="" alt="Image_san_pham">
                        <h4>{{item.TenDauThuoc}}</h4>
                        <p style="color: #000;">
                            Nhóm: {{item.TenNhom}}
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            @*<div class="col-xs-12 col-md-6 col-md-offset-3">*@
            <style>
                #menu-page {
                    float: right;
                    margin-top: 30px;
                }

                    #menu-page li {
                        display: inline-block;
                    }

                        #menu-page li.typeNone {
                            display: none;
                        }

                        #menu-page li a {
                            border: 1px solid #fff;
                            background-color: #419ce1;
                            color: #fff;
                            padding: 9px 15px 9px 15px;
                            vertical-align: middle;
                        }

                            #menu-page li a:hover {
                                background-color: #ddd;
                                color: #419ce1;
                                text-decoration: none;
                            }

                            #menu-page li a.current {
                                background-color: #fff;
                                color: #000;
                                border: 1px solid #419ce1;
                            }
            </style>
            <div id="menu-page">
                <ul id="menu-list-page">
                    <li class="page-list">
                        <a href="javascript:void(0);" ng-click="changePage(1)"><<</a>
                    </li>
                    <li class="page-list" ng-class="curentPage > 1?'':'disabled'">
                        <a href="javascript:void(0);" ng-click="changePage(curentPage - 1)"><</a>
                    </li>

                    <li class="page-list"
                        ng-repeat="page in listIndexPage">
                        <a href="javascript:void(0);" ng-class="page==curentPage?'current':''" ng-click="changePage(page)">{{page}}</a>
                    </li>

                    <li class="page-list" ng-class="curentPage < pageNumber?'':'disabled'">
                        <a href="javascript:void(0);" ng-click="changePage(curentPage + 1)">></a>
                    </li>
                    <li class="page-list">
                        <a href="javascript:void(0);" ng-click="changePage(pageNumber)">>></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End service Area -->
