
    <style>
        .content-wrapper{
            padding: 77px 15px;
            text-align: center;
        }
            .content-wrapper h1 {
                color: #ec3e3e;
                font-size: 30px;
            }
            .content-wrapper .box-body {
                font-size: 20px;
            }
    </style>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Cảnh báo truy cập !!
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row-header">
                    </div>
                    <div class="">
                        <!-- /.box-header -->
                        <div class="box-body">
                            Quyền hạn của bạn bị hạn chế đối với trang này...
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
